body{
    margin:10px;
    padding:10px;
}
#testimonials{
    margin-top:100px;
    margin-bottom:100px;
    height:600px;
    background-image:url(bottom.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    font-display: block;
    font-size: 20px;
    text-align:center;
    color:white;
}
ul{
    list-style-type: none;
    padding:0px;
}
div #h1{
    height:100px;
    line-height:100px;
    margin:0px auto;
}
div #box{
  height:300px;
  width:1000px;
  overflow: hidden;
  position:relative;
  margin:0px auto;
}
#img{
    position:absolute;
    width:3000px;
    height:300px;
    margin:0px;
    padding:0px;
}
img{
    border-radius: 70%;
}
#img #li{
    width:1000px;
    height: 300px;
    float:left;
}
div #icon{
    height: 100px;
    width:200px;
    margin:auto;
}
#ilist{
    width:100px;
    margin:0 auto;
    padding:0;
}
i{
    display: inline-block;
    width:15px;
    height: 15px;
    border-radius:50%;
    background:white;
   
}
i.on{
    background:#80ffff;
}